.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.add-task-modal {
  background-color: #ecedf6;
  padding: 20px;
  width: 500px;
}

.add-task-modal form {
  display: flex;
  flex-direction: column;
}

.add-task-modal label {
  margin-bottom: 15px;
}

.add-task-modal input,
select {
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.add-task-modal input:focus,
select:focus {
  outline: none;
}

.add-task-modal button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  padding: 0.8rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
  background-color: #646ff0;
  color: #fff;
}

.add-task-modal button:last-child {
  background-color: burlywood;
}
