body {
  background-color: #f8f8ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
}

.app {
  width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
}
